* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ===== Font Face =====
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('../assets/fonts/static/PlusJakartaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('../assets/fonts/static/PlusJakartaSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

// ===== Primary Colors =====
$Red-500: hsl(1, 90%, 64%);
$Blue-950: hsl(219, 85%, 26%);

// ===== Neutral =====
$White: hsl(0, 100%, 100%);
$Navy-50: hsl(210, 60%, 98%);
$Blue-100: hsl(211, 68%, 94%);
$Navy-100: hsl(205, 33%, 90%);
$Gray-500: hsl(219, 14%, 63%);
$Gray-600: hsl(219, 12%, 42%);
$Navy-950: hsl(224, 21%, 14%);

// ===== Font =====
$font-size-default: 16px;
$font-family: "Plus Jakarta Sans", sans-serif;

// ===== Functions =====
@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin button-default {
    border: none;
    cursor: pointer;
    background: $White;
    font-family: $font-family;
}

// ====== Styles ======
html {
    font-size: $font-size-default;
    font-family: $font-family;
    font-weight: 500;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: fit-content;
    color: $Gray-600;
    background: $Blue-100;
}

main {
    @include flex-column-center();
    width: 100%;
    height: fit-content;
    background: $White;
    padding: 2rem 1rem;
    gap: 1.5rem;
    max-width: 30rem;
}

main > *, .chats .chat { width: 100% }

.header, .notif {
    @include flex-align-center();
    gap: 0.7rem;
}

.header { justify-content: space-between }

.notif .number {
    @include flex-align-center();
    justify-content: center;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    background: $Blue-950;
    color: $White;
    width: 2.2rem;
    height: 1.8rem;
}

.notif h2 {
    color: $Navy-950;
    font-weight: 800;
}

.header button {
    @include button-default();
    color: $Gray-600;
    font-size: 0.9rem;
    font-weight: 600;
}

.header button:hover {
    color: $Blue-950;
}

.chats {
    @include flex-column-center();
    gap: 0.5rem;
}

.chats .chat {
    display: flex;
    gap: 1rem;  
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

.chats .chat.active {
    background: $Navy-50;
    cursor: pointer;
}

.chats img {
    width: 2rem;
    height: 2rem;
}

.chats img[alt="Chess"] {
    border-radius: 0.4rem;
    margin-left: auto;
    cursor: pointer;
}

.chats img[alt="Chess"]:hover {
    box-shadow: 0px 0px 5px 3px $Navy-100;
}

.chat span {
    cursor: pointer;
}

.chat span.fullname {
    color: $Navy-950;
    font-weight: 800;
}

.chat span.fullname:hover, .chat span.event:hover {
    color: $Blue-950;
}

.chat span.club {
    color: $Blue-950;
    font-weight: 800;
}

.chat span.event {
    color: $Gray-600;
    font-weight: 800;
}

.chat span.dot {
    border-radius: 50%;
    background: $Red-500;
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    margin-inline: 0.4rem;
    position: relative;
}

.chat span.dot::before {
    content: '';
    display: block;
    position: absolute;
    background: $Red-500;
    width: 1rem;
    height: 1rem;
    opacity: 0.3;
    top: -50%;
    left: -50%;
    border-radius: 50%;
    animation: pulse 1s ease-out infinite;
}

.chat .message {
    border: 1px solid $Navy-100;
    border-radius: 0.3rem;
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.chat .message:hover {
    background: $Navy-100;
}

@keyframes pulse {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 768px) {

    main {
        width: 70vw;
        max-width: 50.5rem;
        padding-inline: 1.5rem;
        border-radius: 1rem;
        box-shadow: 0px 0px 10px 20px $Navy-100;
    }

    .header button, .chats .chat {
        font-size: 1.2rem;
    }

    .chats img {
        width: 3rem;
        height: 3rem;
    }
}